*~
.deps
.libs
*.in
*.lo
*.la
test_suite/Makefile.sources
Makefile
Makefile.win
spec/
m4/
*.[oa]
*.obj
libtool
autom4te.cache
config.log
config.status
configure
lib/*.lib
doc/Makefile.e_sources
src/Makefile.e_sources
src/capi/Makefile.c_sources
src/epxc/imap4/epx_imap4_response_tokens.e
src/epxc/imap4/epx_imap4_response_scanner.e
src/epxc/imap4/epx_imap4_response_parser.e
src/epxc/imap4/verbose.txt
src/epxc/ldap/epx_ldif_parser.e
src/epxc/ldap/epx_ldif_scanner.e
src/epxc/ldap/epx_ldif_tokens.e
src/epxc/ldap/verbose.txt
src/epxc/mime/epx_mime_encoded_word_scanner.e
src/epxc/mime/epx_mime_parser.e
src/epxc/mime/epx_mime_scanner.e
src/epxc/mime/epx_mime_tokens.e
src/epxc/mime/verbose.txt
src/papi/Makefile.c_sources
src/sapi/Makefile.c_sources
src/supportc/config.h
src/supportc/stamp-h1
src/wapi/Makefile.c_sources
util/
